<!DOCTYPE html>
<html>
  <head>
    <title>Tweets</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true%>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class ="navigation_tabs">
      <%= link_to "Home", posts_path  %>
      <% if current_user %>
        <%= link_to "My Profile", user_path(current_user) %>
        <%= link_to "TimeLine", timeline_user_path(current_user) %>
        <%= link_to "Know each other", users_path %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <%else%>
        <%= link_to "Login", new_user_session_path %>
      <%end%>
    </div>
    <%= render 'shared/notice' %>
    <%= yield %>
  </body>
</html>
